{% extends 'layouts/blank.html' %} {% block content %}
<wrapper class="block max-w-2xl mx-auto my-10 px-6 scroll-lock ">
  <div class="all-users">
    <div class="flex items-center justify-between">
      <a href="#" class="text-2xl font-bold text-white">All Profiles</a>
    </div>
    <div class="profile-handles" style="background-color: red;">
      {% for user in users %}
      {% endfor %}
      <a href="{% url 'profile' user.username %}" class="flex items-center gap-2 p-4">
        <img
          class="w-10 h-10 rounded-full object-cover"
          src="{{ user.profile.avatar }}"
        />
        <div>
          <span class="font-bold text-white">{{ user.profile.name }}</span>
          <span class="text-sm font-light text-gray-400">@{{ user.username }}</span>
        </div>
      </a>
    </div>
  </div>
  <div
    id="chat_window"
    class="h-[40rem] flex flex-col bg-gray-800 rounded-2xl shadow-2xl relative p-1 chat-container"
  >
    <div
      class="flex justify-center text-emerald-400 bg-gray-800 p-2 sticky top-0 z-10 mobile-header"
    >
    {% if other_user %}
    <div id="online-icon" class="gray-dot absolute top-2 left-2"></div>
      <a href="{% url 'profile' other_user.username %}">
        <div class="flex items-center gap-2 p-4 sticky top-0 z-10">
          <img
            class="w-10 h-10 rounded-full object-cover"
            src="{{ other_user.profile.avatar }}"
          />
          <div>
            <span class="font-bold text-white">{{ other_user.profile.name }}</span>
          <!-- <span class="text-sm font-light text-gray-400">@{{ other_user.username }}</span> hello -->
        </div>
        </div>
      </a>
    {% else %}
      <div id="online-icon"></div>
        <span id="online-count" class="pr-1"></span>online
    {% endif %}

    </div>
    <div id="chat_container" class="overflow-y-auto grow mobile-chat-container">
      {% if other_user %}
      <span class="private-note">This is a private chat noone outside of this chat will see your messages.</span>
      {% else %}
      <span class="private-note"></span>
      {% endif %}
      <ul id="chat_messages" class="flex flex-col justify-end gap-2 p-4" style="padding-bottom: 120px;">
        {% for message in chat_messages reversed %} 
            {% include 'a_rtchat/chat_message.html' %}
        {% endfor %}
      </ul>
    </div>
    <div class="sticky bottom-0 z-10 p-2 bg-gray-800 mobile-styles">
      <div class="flex items-center rounded-xl px-2 py-2">
        <form id="chat_message_form" method="POST" class="w-full"
        hx-ext="ws"
        ws-connect="/ws/chatroom/{{ chatroom_name }}/"
        ws-send
        _="on htmx:wsAfterSend reset() me" >
         {% csrf_token %}
            {{ form }}
        </form>
      </div>
    </div>
  </div>
</wrapper>

{% endblock %}

{% block javascript %}
<script>
    function scrollToBottom() {
        const chatContainer = document.getElementById('chat_container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }
    scrollToBottom();
</script>
{% endblock %}
